<mat-sidenav-container class="page-creator-cont">
  <mat-sidenav class="sidebar-menu" #sidenav mode="side" [(opened)]="opened">
    sidebar
  </mat-sidenav>

  <mat-sidenav-content class="content-cont">
    <main>
      <div class="container">
        <div class="row all-pages-container">
          <div class="col-12">
            <div class="heading-cont space-center">
              <h1>Pages</h1>
              <a mat-button routerLink="/page-creator/create-page" class="creator-btn create-btn">Create page</a>
            </div>
    
            <div class="row">
              <div class="col-lg-12" *ngIf="pages.length === 0">
                <h3>Currently no pages available</h3>
              </div>
    
              <div class="col-12 col-sm-6 col-md-12 col-lg-6" *ngFor="let page of pages">
                <app-page-card2 (deleteCardEvent)="delete($event)" [page]="page"></app-page-card2>
              </div>
    
              <div class="col-lg-12">
                <mat-paginator [length]="pagesCount" [pageSize]="12" [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="changePage($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


