
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 113px;
  width: 100%;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
  z-index: 1;

  .brand {
    z-index: 11;
  }

  .menu {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;

    .menu-list {
      list-style: none;
      li {
        display: inline-block;
        margin-right: 15px;

        &.active {
          a {
            color:  rgba(255, 255, 255, 1);
          }
        }

        a {
          font-size: 19px;
          color:  rgba(255, 255, 255, 0.75);
          transition: 0.3s all ease-in-out;

          &:hover, &:focus {
            color:  rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}


.social {
  font-size: 22px;
  z-index: 14;

  a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    margin-left: 6px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    transition: 0.3s all ease-in-out;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.social-menu-btn-cont {
  display: flex;
  align-content: space-between;
  align-items: center;
}

#menuicon {
  display: none;
}

.menuicon {
  display: inline-block;
  margin-bottom: 0;
  padding: 11px 10px 10px;
  z-index: 101;
  opacity: 0.8;

  span {
    display: block;
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin: 4px;
    transition: all .4s;
  }
}

#menuicon:checked ~ .header-cont {
  background-color: rgba(0,0,0,0.6);
}

#menuicon:checked ~ .header-cont .menu {
  visibility: visible;
  opacity: 1;
}

#menuicon:checked ~ .header-cont .menuicon SPAN:first-child {
  transform: rotate(45deg);
  margin-top: 2px;
}

#menuicon:checked ~ .header-cont .menuicon SPAN:nth-child(2) {
  opacity: 0;
}

#menuicon:checked ~ .header-cont .menuicon SPAN:last-child {
  transform: rotate(-45deg);
  margin-top: -16px;
}
