<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
  <mat-icon aria-hidden="false" aria-label="Example home icon">cloud</mat-icon>
</div>
<div class="files-list" *ngFor="let imgUrl of imgPreviewArr;let i= index"  [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}">
  <button class="close-cont" (click)="deleteAttachment(i)">
      <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
  </button>
</div>
