<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="img-cont first">
      <div class="carousel-caption right">
        <div class="caption">
          <h2>
            Lorem ipsum dolor sit
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, ipsa.</p>
          <a href="#" class="link">
            Read more
          </a>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="img-cont second">
      <div class="carousel-caption left">
        <div class="caption">
          <h2 class="h3-responsive">Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, ipsa.</p>
          <a href="#" class="link">
            Read more
          </a>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

